@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

.general {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.main-section {
  align-items: center;
  border-top: 10px solid $orange;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  position: relative;
  width: 100%;
}

.features-section {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  position: relative;
  width: 100%;

  &::before {
    background-image: url('../assets/triangle.png');
    background-repeat-x: repeat;
    content: '';
    height: 12px;
    position: absolute;
    top: -12px;
    width: 100%;
  }
}

.contact-section {
  align-items: center;
  background-color: $orange;
  box-shadow: 0 30px 121px 9px $gray-text;
  display: flex;
  flex-direction: column;
  height: 226px;
  justify-content: center;
  padding: 8px 0;
  position: relative;
  width: 100%;
}

.separator {
  background: linear-gradient($translucent-white, $orange, $translucent-white);
  height: 250px;
  margin: 0 40px;
  visibility: visible;
  width: 3px;
}

.reminder {
  margin: 0 200px;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.feature-title {
  color: $black;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 18px 0;
}

.descrip-text {
  color: $gray-text;
  font-size: 18px;
  margin-top: 10px;
  max-width: 300px;
  text-align: center;
}

.feature-img {
  margin-bottom: 10px;
}

.title-text {
  color: $white;
  font-weight: bold;
}

.style-input {
  border: 2px solid;
  border-color: $white;
  border-radius: 10px;
  height: 30px;
  outline: 0;
  width: 300px;
}

.btn-subs {
  background-color: $orange;
  border: 2px solid;
  border-radius: 10px;
  color: $white;
  font-weight: bold;
  height: 40px;
  margin: 20px 0;
  outline: 0;
  width: 120px;
}

.class-to-be-purified {
  color: $translucent-white;
}

@media only screen and (max-width: 700px) {
  .separator {
    display: none;
  }

  .phone {
    display: none;
  }

}
