@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

.general {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Open Sans';
}

.main-section {
  align-items: center;
  border-top: 10px solid $orange;
  display: flex;
  height: 50%;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
}

.features-section {
  align-items: center;
  background-color: $gray-bg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.features-section::before {
  background-image: url('../assets/triangle.png');
  background-repeat: repeat;
  content: '';
  height: 12px;
  position: absolute;
  top: -12px;
  width: 100%;
}


.separator {
  background: linear-gradient($translucent-white, $orange, $translucent-white);
  height: 250px;
  margin: 0 40px;
  visibility: visible;
  width: 3px;
}

.reminder {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  justify-content: center;
  margin: 0 200px;
  width: auto;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  justify-content: center;
  width: auto;
}

.descrip-text {
  color: $gray-text;
  font-weight: normal;
  margin-top: 10px;
  max-width: 300px;
  text-align: center;
}

.safe {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  justify-content: center;
  width: auto;
}

.safe-img {
  margin-bottom: 10px;
  max-width: 53px;
}

.reminder-img {
  margin-bottom: 10px;
}

.list-img {
  margin-bottom: 10px;
}

.class-to-be-purified {
  color: $translucent-white;
}

@media only screen and (max-width: 700px) {
  .separator {
    display: none;
  }

  .phone {
    display: none;
  }

}
